In [1]:
amazon_weekly= get_data("amzn", start_date="12/04/2009", end_date="12/04/2019", index_as_date = True, interval="1wk")
amazon_weekly

NameError: name 'get_data' is not defined

In [10]:
from yahoo_fin.stock_info import get_analysts_info

In [11]:
amazon_weekly= get_analysts_info("amzn")
amazon_weekly

{'Earnings Estimate':   Earnings Estimate  Current Qtr. (Jun 2023)  Next Qtr. (Sep 2023)  \
 0   No. of Analysts                    37.00                 36.00
 1     Avg. Estimate                     0.35                  0.40
 2      Low Estimate                     0.14                  0.14
 3     High Estimate                     0.47                  0.55
 4      Year Ago EPS                    -0.20                  0.28

    Current Year (2023)  Next Year (2024)
 0                49.00             49.00
 1                 1.59              2.58
 2                 0.93              1.43
 3                 2.06              4.09
 4                -0.27              1.59  ,
 'Revenue Estimate':           Revenue Estimate Current Qtr. (Jun 2023) Next Qtr. (Sep 2023)  \
 0          No. of Analysts                      38                   37
 1            Avg. Estimate                 131.43B              138.09B
 2             Low Estimate                    127B              133.47B
 3            High Estimate                 133.31B              141.66B
 4           Year Ago Sales                 121.23B               127.1B
 5  Sales Growth (year/est)                   8.40%                8.60%

   Current Year (2023) Next Year (2024)
 0                  48               48
 1             560.86B          625.55B
 2             543.93B          580.85B
 3             569.83B          649.47B
 4             513.98B          560.86B
 5               9.10%           11.50%  ,
 'Earnings History':   Earnings History 6/29/2022 9/29/2022 12/30/2022 3/30/2023
 0         EPS Est.      0.14      0.21       0.17      0.21
 1       EPS Actual      -0.2      0.28       0.03      0.31
 2       Difference     -0.34      0.07      -0.14       0.1
 3       Surprise %  -242.90%    33.30%    -82.40%    47.60%,
 'EPS Trend':           EPS Trend  Current Qtr. (Jun 2023)  Next Qtr. (Sep 2023)  \
 0  Current Estimate                     0.35                  0.40
 1        7 Days Ago                     0.35                  0.40
 2       30 Days Ago                     0.35                  0.40
 3       60 Days Ago                     0.34                  0.39
 4       90 Days Ago                     0.32                  0.38

    Current Year (2023)  Next Year (2024)
 0                 1.59              2.58
 1                 1.58              2.57
 2                 1.58              2.58
 3                 1.56              2.54
 4                 1.41              2.50  ,
 'EPS Revisions':        EPS Revisions  Current Qtr. (Jun 2023)  Next Qtr. (Sep 2023)  \
 0     Up Last 7 Days                      1.0                   1.0
 1    Up Last 30 Days                      4.0                   4.0
 2   Down Last 7 Days                      NaN                   NaN
 3  Down Last 30 Days                      NaN                   NaN

    Current Year (2023)  Next Year (2024)
 0                  1.0               1.0
 1                  5.0               7.0
 2                  NaN               NaN
 3                  NaN               NaN  ,
 'Growth Estimates':            Growth Estimates     AMZN  Industry  Sector(s)  S&P 500
 0              Current Qtr.  275.00%       NaN        NaN      NaN
 1                 Next Qtr.   42.90%       NaN        NaN      NaN
 2              Current Year  688.90%       NaN        NaN      NaN
 3                 Next Year   62.30%       NaN        NaN      NaN
 4  Next 5 Years (per annum)   72.40%       NaN        NaN      NaN
 5  Past 5 Years (per annum)    8.16%       NaN        NaN      NaN}

In [12]:
from yahoo_fin.stock_info import get_company_info

In [13]:
x = get_company_info("aapl")   
x

TypeError: string indices must be integers

In [14]:
from yahoo_fin.stock_info import get_data

In [15]:
msft_data = get_data('msft')

In [16]:
msft_data

,open,high,low,close,adjclose,volume,ticker
1986-03-13,0.088542,0.101563,0.088542,0.097222,0.060524,1031788800,MSFT
1986-03-14,0.097222,0.102431,0.097222,0.100694,0.062686,308160000,MSFT
1986-03-17,0.100694,0.103299,0.100694,0.102431,0.063767,133171200,MSFT
1986-03-18,0.102431,0.103299,0.098958,0.099826,0.062145,67766400,MSFT
1986-03-19,0.099826,0.100694,0.097222,0.098090,0.061065,47894400,MSFT
...,...,...,...,...,...,...,...
2023-07-13,339.559998,343.739990,339.019989,342.660004,342.660004,20567200,MSFT
2023-07-14,347.589996,351.429993,344.309998,345.239990,345.239990,28302200,MSFT
2023-07-17,345.679993,346.989990,342.200012,345.730011,345.730011,20363900,MSFT
2023-07-18,345.829987,366.779999,342.170013,359.489990,359.489990,64872700,MSFT
2023-07-19,361.750000,362.459991,352.434998,355.079987,355.079987,39610673,MSFT